$body_font:"Roboto","Helvetica","Arial",sans-serif;
$background_color_a: #E1E1E1; /*gris clarito*/
$background_color_b: #7f8c8d; /*gris un poco mas oscuro para el body*/
$background_color_c: #263238; /*gris oscuro para el footer*/
$background_color_d: transparent;
$background_color_e: #fff;
$background_color_f: #ecf0f1; /*color cloud*/
$background_color_btn: #f7f7f7;
$background_color_g: #2980b9; /*azul*/
$color_blanco: #fff;
$color_gris: #263238;
$color_grisc: #95a5a6;
$color_naranjo: #e67e22;
$color_rojo: #e74c3c;
$color_celeste: #3498db;
$color_negro: #000;
$padding: 15px;
$width: 100%;
$height: auto;
$font_size_titulo: 70px;
